*{
    box-sizing: border-box;
}

body{
    width: 960px;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.box-container{
    width: 100%;
}

.aside-container{
    width: 260px;
    float: left;
}

.main-container{
    width: 700px;
    float: right;
}

.grid-container ul{
    padding: 0;
}

.column-container li{
    list-style: none;
    width: calc(100% / 3);
    float: left;
    padding-right: .3rem;
}
